.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 509px;
    position: relative;
    width: 328px;
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: 460px;
        width: 400px;
    }
}