.wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 509px;
    position: relative;
    width: var(--card-width-mobile);
}

@media screen and (min-width: 768px) {
    .wrapper {
        height: 460px;
        width: var(--card-width-desktop);
    }
}