.wrapper {
    background-color: transparent;
    border: none;
    color: inherit;
    display: inline-flex;
    width: fit-content;
}

.wrapper:hover {
    cursor: pointer;
}

.wrapper::before, .wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    right: 1rem;
}