.wrapper {
    width: 270px;
    position: relative;
}
  
.inputWrapper {
    align-items: center;
    display: flex;
}
  
.searchBar {
    background-color: var(--search-bg);
    border: none;
    border-radius: 1rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding: 0 0 0 2rem;
    width: 100%;
}
  
.wrapper > button {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(13%);
    z-index: 10;
}
