:root {
  /* colors */
  --text-color-normal: #1D1D1B;
  --text-color-gray: #BFBFBE;
  --text-color-search: #A1A1A1;
  --border-gray: #D3D3D3;
  --search-bg: #F2F2F2;
  --card-container-bg: #F6F6F6;
  --triangle-color: #FFFFFF;
  /* text-size */
  --text-big: 1.75rem;
  --text-normal: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
body {

  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* custom text styles */
h3, p, span {
  font-family: 'Inter', sans-serif;
  color: var(--text-color-normal);
  line-height: 1.21;
}

#root, #__next {
  isolation: isolate;
}